<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Reports</key>
	<array>
		<dict>
			<key>employeeid</key>
			<string></string>
			<key>photo</key>
			<array/>
			<key>plate</key>
			<string></string>
			<key>color</key>
			<string></string>
			<key>model</key>
			<string></string>
			<key>make</key>
			<string></string>
		</dict>
	</array>
	<key>Employees</key>
	<array>
		<dict>
			<key>isnew</key>
			<true/>
			<key>id</key>
			<string>rgonz</string>
			<key>firstname</key>
			<string>Reiner</string>
			<key>lastname</key>
			<string>Gonzalez</string>
		</dict>
		<dict>
			<key>isnew</key>
			<true/>
			<key>id</key>
			<string>mcuadra</string>
			<key>firstname</key>
			<string>Martha</string>
			<key>lastname</key>
			<string>Cuadra</string>
		</dict>
		<dict>
			<key>isnew</key>
			<true/>
			<key>id</key>
			<string>ndajer</string>
			<key>firstname</key>
			<string>Nassir</string>
			<key>lastname</key>
			<string>Dajer</string>
		</dict>
	</array>
	<key>Accounts</key>
	<array>
		<dict>
			<key>password</key>
			<string>cisfiu</string>
			<key>id</key>
			<string>rgonz</string>
		</dict>
		<dict>
			<key>password</key>
			<string>cisfiu</string>
			<key>id</key>
			<string>ndajer</string>
		</dict>
		<dict>
			<key>password</key>
			<string>blueriv</string>
			<key>id</key>
			<string>mcuadra</string>
		</dict>
	</array>
	<key>RegisteredVehicles</key>
	<array>
		<dict>
			<key>tag</key>
			<integer>0</integer>
			<key>assignedspot</key>
			<string>308</string>
			<key>owner</key>
			<string>Martha Cuadra</string>
			<key>barcode</key>
			<string>543216789</string>
			<key>plate</key>
			<string>BLURIV</string>
			<key>color</key>
			<string>Blue</string>
			<key>model</key>
			<string>Accord</string>
			<key>make</key>
			<string>Honda</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>1</integer>
			<key>assignedspot</key>
			<string>101</string>
			<key>owner</key>
			<string>Reiner Gonzalez</string>
			<key>barcode</key>
			<string>987654321</string>
			<key>plate</key>
			<string>FIUCIS</string>
			<key>color</key>
			<string>Grey</string>
			<key>model</key>
			<string>Corolla</string>
			<key>make</key>
			<string>Toyota</string>
		</dict>
		<dict>
			<key>tag</key>
			<integer>2</integer>
			<key>assignedspot</key>
			<string>204</string>
			<key>owner</key>
			<string>Nassir Dajer</string>
			<key>barcode</key>
			<string>123456789</string>
			<key>plate</key>
			<string>CISFIU</string>
			<key>color</key>
			<string>White</string>
			<key>model</key>
			<string>Cruze</string>
			<key>make</key>
			<string>Chevrolet</string>
		</dict>
	</array>
</dict>
</plist>
